# Application Base
NODE_ENV=develop
APP_NAME=BASE
APP_DESCRIPTION="Base api"
PORT=8888
# Database
DATABASE_URL=postgres://user:password@localhost:5432/postgres
# JWT
JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRES_IN=300000 # 5 minutos
JWT_REFRESH_EXPIRES_IN=900000 # 15 minutos
# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
# Mail Configuration (SendGrid)
SENDGRID_API_KEY=
SENDGRID_FROM=
SENDGRID_FROM_NAME=
# Frontend URL
FRONTEND_URL=http://localhost:3000
# Admin User
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin123